<div class="containar">
  <div class="row">

    <div class="col-md-3">
      <%= render 'public/users/info', user: current_user %>
    </div>

    <div class="col-md-9">
      <h4>"<%= @word %>"の検索結果一覧</h4>
      <%= render "public/post_saunas/post_sauna.index", post_saunas: @post_saunas %>
    </div>

  </div>
</div>