<div class="container text-center">
  <div class="row mt-5">
    <div class="col">
      <h1>ととのう</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <p>
        「ととのう」は、サウナ好きな冒険者たちのためのコミュニティです。<br>
        私たちは全国各地のサウナを巡り、心地よい体験やお気に入りのスポットを共有することを大切にしています。<br>
        サウナはリラックスや健康促進だけでなく、コミュニケーションや新たな発見の場でもあります。<br>
        このサイトでは、そんなサウナの素晴らしさを共有し、新たな冒険を始めるお手伝いをします。
      </p>
    </div>
  </div>
  <%= image_tag('about.jpg', size: "600x300", class:"pb-2") %>
</div>
