<div class="containar">
  <div class="row">

    <div class="col-md-3">
      <%= render 'admin/users/info', user: @user %>
    </div>

    <div class="col-md-9">
      <h2>"<%= @user.name %>"フォロー一覧</h2>
      <% if @users.exists? %>
        <%= render 'admin/users/user.index', users: @users %>
      <% else %>
        <p>※フォローしたユーザーはまだいません</p>
      <% end %>
    </div>

  </div>
</div>