<div class="containar">
  <div class="row">
    <div class="col">
      <h2>"<%= @word %>"の検索結果一覧</h2>
      <% if @post_saunas.exists? %>
        <%= render "admin/post_saunas/post_sauna.index", post_saunas: @post_saunas %>
      <% else %>
        <p>※該当する投稿はまだありません<p>
      <% end %>
    </div>
  </div>
</div>