<div class="container">
  <div class="row">

    <div class="col-md-3">
      <%= render 'info', user: current_user %>
    </div>

    <div class="col-md-9">
      <h2>ユーザー一覧</h2>
        <%= render 'user.index', users: @users %>
    </div>

  </div>
</div>